.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/GT6Addition.ideVirtualMain.iml
.idea/modules/GT6Addition.main.iml
.idea/modules/GT6Addition.test.iml
.idea/vcs.xml
/run
/run/cache/
/run/config/
/run/crash-reports/
/run/groovy/
/run/logs/
/run/mods/
/run/natives/
/run/resourcepacks/
/run/saves/
/run/GeneralizedSuffixTree-PrefixInfo{default}.dot
/run/GeneralizedSuffixTree-PrefixInfo{mod_name}.dot
/run/GeneralizedSuffixTree-PrefixInfo{tooltip}.dot
/run/hei_bookmarks.ini
/run/options.txt
/run/usercache.json
/run/usernamecache.json
