.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/GT6Addition.ideVirtualMain.iml
.idea/modules/GT6Addition.main.iml
.idea/modules/GT6Addition.test.iml
.idea/vcs.xml
/run
/run/cache/
/run/config/
/run/crash-reports/
/run/groovy/
/run/logs/
/run/mods/
/run/natives/
/run/resourcepacks/
/run/saves/
/run/GeneralizedSuffixTree-PrefixInfo{default}.dot
/run/GeneralizedSuffixTree-PrefixInfo{mod_name}.dot
/run/GeneralizedSuffixTree-PrefixInfo{tooltip}.dot
/run/hei_bookmarks.ini
/run/options.txt
/run/usercache.json
/run/usernamecache.json
/build
.gradle/9.2.1/checksums/checksums.lock
*.bin
*.bin
*.cfg
*.csv
/.gradle
.gradle/9.2.1/checksums/md5-checksums.bin
.gradle/9.2.1/checksums/sha1-checksums.bin
.gradle/9.2.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/outputFiles.bin
gradle.properties
run/config/AppliedEnergistics2/CustomRecipes.cfg
run/config/AppliedEnergistics2/items.csv
run/config/AppliedEnergistics2/VersionChecker.cfg
run/config/gregtech/gregtech.cfg
run/config/gregtech/modules.cfg
run/config/gregtech/persistent_data.dat
run/config/splash.properties
