.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/GT6Addition.ideVirtualMain.iml
.idea/modules/GT6Addition.main.iml
.idea/modules/GT6Addition.test.iml
.idea/vcs.xml
/run/
